<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
<head>
<meta charset="utf-8" http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{.Page.Title}}</title>
<link rel="canonical" href="{{.Page.CanonicalURL}}" />
<meta property="og:title" content="{{.Page.Title}}" />
<meta property="og:site_name" content="{{.Site.Title}}" />
<meta property="og:url" content="{{.Page.CanonicalURL}}" />
<meta property="og:type" content="website" />
<style type="text/css">
{{.Smol.InlineCSS}}</style>
</head>
<body class="home-template">
<header class="header">
  <div class="wrapper">
    <a class="header__logo logo" href="https://redshift.is/">Redshift ehf.</a>
  </div>
</header>
<main>
{{indent .Page.ContentHTML "  "}}
</main>
<footer class="section section--light footer">
  <div class="footer__bottom">
    <div class="wrapper grid gap-8 sm:gap-10 lg:gap-24 sm:grid-cols-2 lg:grid-cols-4">
      <div class="footer__item">
        <a class="footer__logo" href="https://redshift.is/">Redshift ehf.</a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
